* {
    margin: 0;
    padding: 0;
}

.container_form {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    border-radius: 3px;
    padding: 1rem;
    border-left: 1px #f0eded solid;
}

.container_form h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    color: #00dae0;
    border-bottom: 1px #f0eded solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container_form input[type="radio"],
.container_form input[type="checkbox"] {
    width: 10%;
}

.container_form input {
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
}

.legend {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.btn {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #6fcffb;
    color: #fff;
    text-shadow: 0 0 5px rgb(92, 92, 92);
    font-family: inherit;
    font-size: 15px;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #444444;
    transform: scale(1.03);
}

